.boxes-container-main{
    padding: 0px 20px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 20px;
}


@media(max-width: 1089px){
    .boxes-container-main{
        justify-content: center;
        gap: 20px;
    }
}

@media(max-width: 759px){
    .boxes-container-main{
        display: flex;
        width: 300%;
        flex-wrap: nowrap;
        overflow: scroll;
        z-index: 10;

        scroll-behavior: smooth;
    }

    .boxes-container-main{
        padding: 0px 0px;
    }

    .boxes-slider {
        position: relative;
        overflow: scroll;
        padding: 20px;
        height: fit-content;
      }

      .boxes-slider::-webkit-scrollbar {
        display: none;
      }
}

@media(max-width: 680px){
    .boxes-container-main{
        width: 400%;
    }
}

@media(max-width: 570px){
    .boxes-container-main{
        width: 500%;
    }
}