.more-products-box-main{
    width: 350px;
    height: 400px;
    z-index: 1;

    padding: 0px 20px;
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px; 
}

.more-products-box-images{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.more-products-box-images img{
    width: 150px;
}

.more-products-box-main a{
    text-decoration: none;
    color: #007185;
    font-size: 13px;
}

@media(max-width: 759px){
    .more-products-box-main{
        height: 320px;
        width: 250px;
        padding: 0px 5px;
        row-gap: 10px; 
    }
    .more-products-box-images img{
        width: 100px;
    }

    .more-products-box-images-title{
        font-size: 12px;
    }

}

@media(max-width: 680px){
    .more-products-box-main{
        height: 320px;
        width: 400px;
        padding: 0px 5px;
        row-gap: 10px; 
    }
}

@media(max-width: 430px){

    .more-products-box-images{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .more-products-box-main{
        height: 250px;
        width: 250px;
    }

    .more-products-box-images-title{
        display: none;
    }
    
}