@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --primary-green: #00453e;
}

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{

    font-family: 'PT Sans', sans-serif;
}

.container-main-content{
    max-width: 1500px;
    margin: auto;
}

@media (max-width: 1110px) { 
    #desktop-header{
     display:none;
    }
    #tablet-header{
     display:initial;
    }
  }